
build-RubberContractBridge-Desktop_Qt_5_15_0_MinGW_64_bit-Debug/

build-RubberContractBridge-Desktop_x86_windows_msvc2019_pe_64bit-Debug/

RubberContractBridge/RubberContractBridge.pro.user.8816847

RubberContractBridge/RubberContractBridge.pro.user
